

.post {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}


.avatar {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  overflow: hidden;
  img {
      max-width: 100%;
  }
}


.body {
  flex: 1 1 auto;
}

.text {
  min-height: 40px;
  background-color: #EFF2F6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  &:not(:last-child) {
  margin-bottom: 5px;
  }
}

.likeBody {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.like {
  font-size: 14px;
  background-color: #ffffff;
}


.likeIcon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-color: #0E6EFB;
  border-radius: 50%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    background: url('../../../../assets/images/icons/like.svg') 0 0 no-repeat;
    transform: translate(-50%, -50%);
  }
}