

.avatar {
    max-width: 100px;

    img {
        max-width: 100%;
        border-radius: 50%;
    }
};


.body {
    display: flex;
    align-items:  center;
    column-gap: 5px;
}
.term {
    min-height: 25px;
    border: 1px solid black;
    padding: 0 10px;
}

.error {
    border: 1px solid rgb(201, 26, 26);
}
.errorSpan {
    color: red;
}
.select {
    min-height: 25px;
    border: 1px solid black;
    padding: 0 10px;
}
.button {
    min-height: 25px;
    border: 1px solid black;
    padding: 0 10px;
    display:  flex;
    align-items: center;
    justify-content: center;
}