

.form {
    display: flex;
    align-items: center;
    column-gap: 20px;
    min-width: 468px;
  @media (max-width: 1200px){
    min-width: 468px;
  }
  @media (max-width: 992px){
    min-height: 35px;
    min-width: 380px;
  }
    @media (max-width: 767px){
    min-height: 35px;
    min-width: 466px;
  }
    @media (max-width: 610px){
    min-width: 425px;
  }
  @media (max-width: 580px){
    min-width: 370px;
  }
    @media (max-width: 470px){
    min-width: 305px;
  }
  @media (max-width: 410px){
   min-width: 230px;
    max-width: 230px;
  }
}

.bodyInput {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.input {
    flex: 1 1 auto;
    background-color: #EFF2F6;
    font-size: 18px;
    line-height: 130%;
    color: #6C757D;
      @media (max-width: 410px){

    max-width: 150px;
  }
}

.buttons {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.sendButtom{
    color: #6C757D;
    transition: all 0.3s ease 0s;
    &:hover {
        color: #51565b;
    }
}
.closeButtom {
    color: #6C757D;
    transform: translate(0, 2px);
    cursor: pointer;
        transition: all 0.3s ease 0s;
    &:hover {
        color: #51565b;
    }
}