.messagePopup {
    position: absolute;
    top: 19%;
    left: 43%;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 1px 13px -7px rgb(128, 113, 133);
    background-color: #ffffff;
    z-index: 10;
}

.messagePopupTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    position: relative;
    padding: 10px;
    &::before {
        content: '';
        position: absolute;
        left: 2.5%;
        bottom: 0;
        height: 1px;
        width: 95%;
        background-color: rgb(213, 215, 226);
    }
}

.messagePopupTitle {
    font-size: 16px;
    font-weight: bold;
}

.messagePopupCloseIcon {
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: #EFF2F6;
        }
      }

}

.messagePopupInfo {
    padding: 10px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 2.5%;
        bottom: 0;
        height: 1px;
        width: 95%;
        background-color: rgb(213, 215, 226);
    }
}

.messagePopupAvatar {
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
        max-width: 100%;
    }
    &:not(:last-child) {
    margin-bottom: 5px;
    }
}

.messagePopupName {
    font-size: 16px;
    font-weight: bold;
}


.messagePopupMessage {
    padding: 10px;
    height: 100%;
}