.users {
    padding: 20px 15px 25px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 100%;
}

.paginator {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.items {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding-left: 20px;
    
}

.userBody {
    display: flex;
    align-items: center;
}


.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.avatar {
    max-width: 100px;
    margin-bottom: 2px;
    overflow: hidden;
    @media (max-width: 1200px){
        max-width: 70px;
    }
    
    img {
        max-width: 100%;
        border-radius: 50%;
    }
}

.button {
    background-color: #0E6EFB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 5px;
    min-width: 80px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #0051ca;
        }
      }
      margin-bottom: 10px;
}

.buttonMessage {
    &:not(:last-child) {
    margin-bottom: 1px;
    }
}


span {
    margin-right: 5px;
    cursor: pointer;
    
}


.PopapMessage {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0.2s;
}

.PopapMessageActive {
    transition: all 0.3s ease 0.2s;
    visibility: visible;
    opacity: 1;
}