
.notFound {
    min-height: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: 767px){
        align-items: center;
    }
}

.notFoundText {
    
    text-transform: uppercase;
    font-size: 24px;
    @media (min-width: 767px){
        margin-top: 250px;
    }
}