
.myPosts {
  padding: 0 15px 15px 15px;
}
 


.title {
  font-size: 30px;
  font-weight: 600;
  &:not(:last-child) {
      margin-bottom: 25px;
  }
}

.newPost {

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @media (max-width: 992px){
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.posts {
  padding-left: 100px;
  padding-right: 25px;
  display: grid;
  row-gap: 25px;
  @media (max-width: 992px){
    padding-left: 40px;
  }
}


.body {
  min-height: 60px;
  border-radius: 10px;
  display: inline-flex;
  min-width: 500px;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
  -moz-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
  box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
  position: relative;

  @media (max-width: 992px){
    min-height: 40px;
  }
}

.userPost {
  background-color: #0E6EFB;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -50%);
  img {
    width: 15px;
    height: 15px;
  }
}


.input {


  & input::placeholder {
    font-size: 16px;

  }
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0E6EFB;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  
  @media (any-hover: hover) {
    &:hover {
        background-color: #0051ca;
    }
  }

  img {
    position: relative;
    z-index: 2;
    width: 15px;
    height: 15px;
  }
}





