
.header {
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.container {
   min-height: 80px;
   display: grid;
   grid-template-columns: 25% 73.3%;
   column-gap: 25px;
}

.body {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.logo {
    display: inline-block;
    max-width: 70px;
    img {
        max-width: 100%;
    }
}

.logoText {
    font-size: 20px;
    font-weight: 700;
   color: #807185;
   @media (max-width: 1200px){
      display: none;
   }
}


.loginBlock {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0 15px;
  //  padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;


   .loginBody {
    display: flex;
    align-items: center;
    column-gap: 15px;
   }

   .login {
    font-size: 22px;
    font-weight: 300;
   }

   .button {
        background-color: #0E6EFB;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        border-radius: 10px;
       min-width: 100px;
       //padding: 0 40px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #0051ca;
            }
          }
        }

}