
.header {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
    @media (max-width: 767px){
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.container {
   min-height: 80px;
   display: grid;
   grid-template-columns: 25% 73.3%;
   column-gap: 25px;
   @media (max-width: 1200px){
    min-height: 70px;
   }
   @media (max-width: 992px){
    min-height: 70px;
    column-gap: 15px;
  }
  @media (max-width: 767px){
    grid-template-columns: 1fr 1fr 35px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0 15px;
    padding: 0 -15px;
    @media (max-width: 500px){
        column-gap: 15px;
    }
}
}

.body {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 767px){
       display: none;
    }
}

.logoMobile {
    max-width: 45px;
    img {
        max-width: 100%;
    }
    @media (min-width: 767px){
        display: none;
    }
}

.logo {
    display: inline-block;
    max-width: 70px;
    @media (max-width: 1200px){
        max-width: 60px;
    }
    @media (max-width: 992px){
        max-width: 45px;
    }

    img {
        max-width: 100%;
    }
}

.logoText {
    font-size: 20px;
    font-weight: 700;
   color: #807185;
   @media (max-width: 1200px){
      display: none;
   }
}


.loginBlock {
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 500px){
        padding: 0 15px;
    }


   .loginBody {
    display: flex;
    align-items: center;
    column-gap: 15px;
   }

   .login {
    font-size: 22px;
    font-weight: 300;
    @media (max-width: 1200px){
        font-size: 18px;
    }
    @media (max-width: 550px){
        display: none;
    }
   }

   .button {
        background-color: #0E6EFB;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        border-radius: 10px;
        min-width: 100px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.3s ease 0s;
        @media (max-width: 1200px){
            min-height: 35px;
            min-width: 80px;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #0051ca;
            }
          }
        }

}

.burger {
    display: none;
    @media(max-width:767px) {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 3;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #4d4959;
            transition: all 0.3s ease 0s;
        }
        &._active::before {
            transform: rotate(45deg);
            top: 8px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #4d4959;
            transition: all 0.3s ease 0s;
        }
        &._active::after {
            transform: rotate(-45deg);
            bottom: 8px;
        }

        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #4d4959;
            transition: all 0.3s ease 0s;
        }
        &._active span {
            transform: scale(0);
        }
    }
}