
.sitebar {
    padding-left: 15px;
    padding-bottom: 35px;  
    @media (min-width: 992px){
        padding-right: 15px;
        padding-top: 25px;
    }
    @media (min-width: 767px){
        
    }

}

.activeMenu {
    background-color: #EFF2F6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.menu:not(:last-child) {
    margin-bottom: 50px;
    @media (max-width: 992px){
        margin-bottom: 30px;
    }
}
.body {
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    @media (max-width: 767px){
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
}
.list {
    display: grid;
    row-gap: 20px;
    @media (max-width: 992px){
        row-gap: 15px;
    }
    @media (max-width: 767px){
        row-gap: 30px; 
    }
    @media (max-width: 450px){
        row-gap: 25px;
    }
}

.item {
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/profile.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
        }
        @media (max-width: 767px){
            width: 25px;
            height: 25px;
        }
        @media (max-width: 450px){
            width: 20px;
            height: 20px;
        }
    }
    &:nth-child(2):before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/message.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
        }
        @media (max-width: 767px){
            width: 25px;
            height: 25px;
        }
        @media (max-width: 450px){
            width: 20px;
            height: 20px;
        }
    }
    &:nth-child(3):before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/users.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
        }
        @media (max-width: 767px){
            width: 25px;
            height: 25px;
        }
        @media (max-width: 450px){
            width: 20px;
            height: 20px;
        }
    }
    &:nth-child(4):before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/usersFollowing.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
        }
        @media (max-width: 767px){
            width: 25px;
            height: 25px;
        }
        @media (max-width: 450px){
            width: 20px;
            height: 20px;
        }
    }
    &:nth-child(5):before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/chat.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
        }
        @media (max-width: 767px){
            width: 25px;
            height: 25px;
        }
        @media (max-width: 450px){
            width: 20px;
            height: 20px;
        }
    }
    &:nth-child(6):before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url('../../assets/images/icons/settings.svg') 0 0 no-repeat;
        transform: translate(0, -50%);
        @media (max-width: 992px){
            width: 15px;
            height: 15px;
            @media (max-width: 767px){
                width: 25px;
                height: 25px;
            }
            @media (max-width: 450px){
                width: 20px;
                height: 20px;
            }
        }
    }

    @media (max-width: 767px){
        max-width:350px;
    }
    @media (max-width: 380px){
        transition: all 0.3s ease 0s;
        max-width: 270px;  
    }
    @media (max-width: 450px){
        max-width: 270px;
    }
}


.link  {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 10px;
    padding-left: 45px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #6C757D;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    color: inherit;
    
    @media (any-hover: hover) {
        &:hover {
            background-color: rgb(255, 255, 255);
            -webkit-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
            -moz-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
            box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
        }
    }
    @media (max-width: 992px){
        font-size: 16px;
        min-height: 40px;
    }
    @media (max-width: 767px){
        font-size: 26px;
        font-weight: 500;
        min-height: 60px;
        padding-left: 65px;
    }
    @media (max-width: 450px){
        font-size: 24px;
        padding-left: 55px;
        min-height: 55px;
    }
}

.active {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 10px;
    padding-left: 45px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    color: inherit;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    -moz-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    @media (max-width: 992px){
        font-size: 16px;
        min-height: 40px;
    }
    @media (max-width: 767px){
        font-size: 26px;
        font-weight: 500;
        min-height: 60px;
        padding-left: 65px;
    }
    @media (max-width: 450px){
        font-size: 24px;
        padding-left: 55px;
        min-height: 55px;
    }
}

.copyrite {
    padding-left: 15px;
    line-height: 150%;
    @media (max-width: 992px){
        font-size: 14px;
    }
    @media (max-width: 767px){
        text-align: center;
        padding-left: 0px;
    }
}