

.profileInfo {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}


.images {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media (max-width: 550px){
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}

.fon {
  width: 100%;
  position: relative;
  padding-bottom: 20%;
  overflow: hidden;
  @media (max-width: 410px){
    padding-bottom: 30%;
  }
      img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 15px 15px 0 0;
      }
}

.avararBody {
  position: relative;
}

.avatar {
  position: relative;

       img {
           position: absolute;
           top: 0;
           left: 20%;
           width: 140px;
           height: 140px;
           border-radius: 50%;
           transform: translate(-50%, -45%);
           border: 5px solid #77A0C6;
           @media (max-width: 1200px){
            width: 100px;
            height: 100px;
          }
          @media (max-width: 992px){
            width: 80px;
            height: 80px;
          }
          @media (max-width: 767px){
            width: 100px;
            height: 100px;
          }
          @media (max-width: 680px){
            width: 70px;
            height: 70px;
          }
       }
}

.changeAvatar{
  cursor: pointer;
    position: absolute;
    bottom: -30.7%;
    left: 23.8%;
    width: 30px;
    height: 30px;
    background-color: #c2c9d4;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #b1b7c0;
      }
    }
    @media (max-width: 992px){
      width: 20px;
      height: 20px;
      left: 24.4%;
    }
    @media (max-width: 767px){
      width: 30px;
      height: 30px;
      left: 24.0%;
    }
    @media (max-width: 680px){
      width: 20px;
      height: 20px;
      left: 22.8%;
      bottom: -26.7%;
    }
    @media (max-width: 530px){
      left: 23.7%;
      bottom: -28.2%;
    }
    @media (max-width: 480px){
      left: 23.5%;
      bottom: -33.4%;
    }
    @media (max-width: 440px){
      left: 23.9%;
      bottom: -35.1%;
    }
    @media (max-width: 430px){
      left: 24.9%;
      bottom: -35.1%;
    }
    @media (max-width: 414px){
      left: 24.6%;
      bottom: -42%;
    }
    @media (max-width: 412px){
      left: 25.3%;
      bottom: -35.1%;
    }
    @media (max-width: 410px){
      left: 25.5%;
      bottom: -35.1%;
    }
    @media (max-width: 390px){
      left: 24.7%;
      bottom: -29.7%;
    }
    @media (max-width: 345px){
      left: 26%;
      bottom: -45.3%;
    }
    @media (max-width: 344px){
      left: 25.1%;
      bottom: -36.9%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      @media (max-width: 992px){
        width: 12px;
        height: 12px;
      }
      @media (max-width: 767px){
        width: 20px;
        height: 20px;
      }
      @media (max-width: 680px){
        width: 12px;
        height: 12px;
      }
    }
}
.input {
  display: none;
}
.body {
  padding: 0 15px;
}
.top{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 140px;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  @media (max-width: 992px){
    grid-template-columns: 1fr 100px;
  }
  @media (max-width: 550px){
    justify-content: flex-start;
    grid-template-columns: 1fr auto;
  }
  @media (max-width: 400px){
    grid-template-columns: 1fr;
    row-gap: 10px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
.info {
  padding-left: 280px;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1200px){
    padding-left: 200px;
  }
  @media (max-width: 992px){
    padding-left: 150px;
  }
  @media (max-width: 767px){
    padding-left: 220px;
  }
  @media (max-width: 680px){
    padding-left: 180px;
  }
  @media (max-width: 580px){
    padding-left: 140px;
  }
  @media (max-width: 550px){
    padding-left: 0px;
  }
}
.name {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 4px;
  @media (max-width: 680px){
    font-size: 16px;
  }
}
.status {
  max-width: 250px;
  line-height: 120%;
}



.button {
  align-self: end;
  border: 1px solid #0E6EFB;
  background-color: #ffffff;
  color: #0E6EFB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 35px;
  border-radius: 10px;
  width: 135px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  @media (min-width: 992px){
    padding-right: 20px;
    position: relative;
      &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url('../../../assets//images/icons/pen.svg') 0 0 no-repeat;
    transform: translate(0, -50%);
    }
  }
  @media (max-width: 992px){
    width: 100px;
    justify-content: center;
    min-height: 30px;
  }
  @media (max-width: 400px){
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    min-height: 25px;
  }


  @media (any-hover: hover) {
      &:hover {
        background-color: #f6f0f0;
      }
    }

  
}
.statusSpan {
  font-size: 16px;
}
.LookingForAJob{
  & span {
    font-weight: bold;
    font-size: 18px;
    @media (max-width: 400px){
      font-size: 16px;
      font-weight: 600;
    }
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.skilsBody {
  @media (max-width: 380px){
    display: flex;
    flex-direction: column;
  }
}
.skils {
  & span {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    @media (max-width: 400px){
      font-size: 16px;
      font-weight: 600;
    }
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  @media (max-width: 992px){
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.contacts {
  & span {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: 400px){
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.contact {
  padding-left: 15px;
  display: grid;
  row-gap: 5px;
}


