

.profileInfo {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}


.images {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.fon {
  width: 100%;
  position: relative;
  padding-bottom: 20%;
  overflow: hidden;
      img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 15px 15px 0 0;
      }
}

.avararBody {
  position: relative;
}

.avatar {
  position: relative;

       img {
           position: absolute;
           top: 0;
           left: 20%;
           width: 140px;
           height: 140px;
           border-radius: 50%;
           transform: translate(-50%, -45%);
           border: 5px solid #77A0C6;
       }
}

.changeAvatar{
  cursor: pointer;
    position: absolute;
    bottom: -30.7%;
    left: 23.8%;
    width: 30px;
    height: 30px;
    background-color: #c2c9d4;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #b1b7c0;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
    }
}


.input {
  display: none;
}


.body {
  padding: 0 15px;
}




.top{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 140px;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.info {
  padding-left: 280px;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 4px;
}

.status {
  max-width: 250px;
  line-height: 120%;
}



.button {
  align-self: end;
  position: relative;
  border: 1px solid #0E6EFB;
  background-color: #ffffff;
  color: #0E6EFB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 35px;
  border-radius: 10px;
  width: 135px;
  padding-right: 20px;

  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url('../../../assets//images/icons/pen.svg') 0 0 no-repeat;
    transform: translate(0, -50%);
  }

  @media (any-hover: hover) {
      &:hover {
        background-color: #f6f0f0;
      }
    }

  
}

.statusSpan {
  font-size: 16px;
}

.statusInput{}

.LookingForAJob{
  & span {
    font-weight: bold;
    font-size: 18px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.skils {
  & span {
    font-weight: bold;
    font-size: 18px;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}


.contacts {
  & span {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contact {
  padding-left: 15px;
  display: grid;
  row-gap: 5px;
}


