

.profileDataForm {}

.top{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 140px;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: 992px){
      grid-template-columns: 1fr 100px;
    }
    @media (max-width: 400px){
      grid-template-columns: 1fr;
      row-gap: 10px;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
  .info {
    padding-left: 280px;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1200px){
      padding-left: 200px;
    }
    @media (max-width: 992px){
      padding-left: 150px;
    }
    @media (max-width: 767px){
      padding-left: 220px;
    }
    @media (max-width: 680px){
      padding-left: 180px;
    }
    @media (max-width: 580px){
      padding-left: 140px;
    }
    @media (max-width: 550px){
      padding-left: 0px;
    }
  }
  .name {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 18px;
    font-weight: bold;
    @media (max-width: 992px){
      font-size: 16px;
    }


    & span {}
   
  }
  .editName {
    border: 1px solid #6C757D;
    min-height: 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
    @media (max-width: 992px){
      max-width: 150px;
      min-height: 20px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 1.5px;
        right: 0;
        width: 1px;
        height: 15.8px;
        background-color: #6C757D;
      }
    }


    & input {
        color: #6C757D;
    }
  }
.status {
    max-width: 250px;
}
.button {
    align-self: end;
    position: relative;
    border: 1px solid #0E6EFB;
    background-color: #ffffff;
    color: #0E6EFB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    border-radius: 10px;
    width: 100px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    @media (max-width: 992px){
      width: 100px;
      min-height: 30px;
    }
    @media (max-width: 400px){
      font-size: 14px;
      width: 80px;
      border-radius: 5px;
      min-height: 25px;
    }
  
    @media (any-hover: hover) {
        &:hover {
          background-color: #f6f0f0;
        }
      }
  
    
}
.lookingForAJob{
    & span {
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      @media (max-width: 400px){
        font-size: 16px;
        font-weight: 600;
      }
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
}
.skils {
    display: flex;
    align-items: center;
    column-gap: 7px;
    & span {
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      @media (max-width: 400px){
        font-size: 16px;
        font-weight: 600;
      }
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: 992px){
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 400px){
      flex-direction: column;
      row-gap: 5px;
      align-items: flex-start;
    }
  }
  .editSkils {
    border: 1px solid #6C757D;
    min-height: 25px;
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 3px;
    & input {
        color: #6C757D;
    }
  }
  .contacts {
    & span {
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      @media (max-width: 400px){
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  
  .title {
    &:not(:last-child) {
        margin-bottom: 10px;
      }
  }
  .elements {
    padding-left: 15px;
    display: grid;
    row-gap: 5px;
  }
  .contactBody {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  .contact {
    align-self: center;
  }
  .editContact{
    border: 1px solid #6C757D;
    min-height: 25px;
   display: flex;
   align-items: center;
   padding-left: 5px;
   border-radius: 3px;

   & input {
       color: #6C757D;
   }
  }


  .elementForm {
    display: flex;
    align-items: center;
  }