

.body {
  display: flex;
  column-gap: 25px;
  &:not(:last-child) {
  margin-bottom: 50px;
  }
}

.avatar {
  position: relative;
  display: block;
  min-width: 100px;
  min-height: 100px;
  &:not(:last-child) {
  margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
  }
}

.info {
 display: flex;
 flex-direction: column;
}

.name {

  &:not(:last-child) {
      margin-bottom: 10px;
  }
}

.aboutMe {
  color: rgb(61, 57, 57);
  font-size: 18px;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.lookingForAJobDescription {
  color: rgb(61, 57, 57);
  font-size: 18px;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 5;
  transform: translate(-50%, -50%);
}

.statusBody{
  display: flex;
 column-gap: 5px;
}

.status {
  margin-bottom: 5px;
}


.lookingForAJob {
  margin-bottom: 10px;
}

.contact {
  padding-left: 10px;
}

.errorSome{
  border: 1px solid red;
  color: red;
}
