.users {
    padding: 15px 8px 15px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 100%;
}

.paginator {
    padding-bottom: 15px;
    border-bottom: 2px #e1e6ed solid;
    @media (max-width: 767px){
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.items {
    padding-top: 10px;
    max-height: 660px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    padding-right: 20px;
    @media (max-width: 400px){
        max-height: 570px;
    }
    @media (max-width: 380px){
        max-height: 380px;
    }
}
.items::-webkit-scrollbar {
    width: 5px;
}
.items::-webkit-scrollbar-track {
    border-radius: 10px;
}
.items::-webkit-scrollbar-thumb {
    background: #EFF2F6;
    border-radius: 10px;
    cursor: pointer;
}

.userBody {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px){
        flex: 0 1 50%;
    }
    @media (max-width: 400px){
        flex: 0 1 100%;
    }
}


.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.avatar {
    max-width: 100px;
    margin-bottom: 2px;
    overflow: hidden;
    @media (max-width: 1200px){
        max-width: 70px;
    }
    
    img {
        max-width: 100%;
        border-radius: 50%;
    }
}

.button {
    background-color: #0E6EFB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    border-radius: 5px;
    min-width: 80px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #0051ca;
        }
      }
      margin-bottom: 10px;
}

.buttonMessage {
    &:not(:last-child) {
    margin-bottom: 1px;
    }
}


span {
    margin-right: 5px;
    cursor: pointer;
    
}


.PopapMessage {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.PopapMessageActive {
    transition: all 0.3s ease 0s;
    visibility: visible;
    opacity: 1;
}