.login {
   
}

.loginContent {
    max-width: 350px;
    max-height: 450px;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    -moz-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    @media (max-width: 380px){
        max-width: 280px;
        
    }
}

.loginContentCaptcha {
    max-width: 350px;
    max-height: 550px;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    -moz-box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    box-shadow: 0px 1px 13px -7px rgba(128, 113, 133, 1);
    
    @media (max-width: 380px){
        max-width: 280px;
        top: 48%;
    }
}

.title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    &:not(:last-child) {
    margin-bottom: 50px;
    }
}



.body {
    margin-top: 25px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-left: -10px;
    @media (max-width: 380px){
        margin-left: 5px;
    }
}

.logo {
    display: inline-block;
    max-width: 70px;
    img {
        max-width: 100%;
    }
    @media (max-width: 380px){
        max-width: 50px;
    }
}

.logoText {
    font-size: 20px;
    font-weight: 700;
   color: #807185;
   @media (max-width: 1200px){
      display: none;
   }
}






.loginEmail {
    &:not(:last-child) {
        margin-bottom: 30px;
        }
    input {
        min-width: 300px;
        padding-left: 15px;
        min-height: 40px;
        border: 1px solid #6C757D;
        border-radius: 5px;
        display: flex;
        align-items: center;
        @media (max-width: 380px){
            min-width: 232px;
        }
        
    }
}

.loginPassword {
    &:not(:last-child) {
        margin-bottom: 30px;
        }
    input {
        min-width: 300px;
        padding-left: 15px;
        min-height: 40px;
        border: 1px solid #6C757D;
        border-radius: 5px;
        display: flex;
        align-items: center;
        @media (max-width: 380px){
            min-width: 232px;
        }
        
    }
}

.loginFormBody {

    &:not(:last-child) {
    margin-bottom: 50px;
    }
}

.loginRemember {

}



.loginButtonBody {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.loginButton {
    flex: 1 0 auto;
    background-color: #0E6EFB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    border-radius: 10px;
    min-width: 100px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #0051ca;
        }
      }
}


.captchaFoto {
    margin:  0 auto;
    max-width: 150px;
    display: flex;
    justify-content: center;
    img {
        max-width: 100%;
    }
}

.captcha {
    input {
        min-width: 300px;
        padding-left: 15px;
        min-height: 40px;
        border: 1px solid #6C757D;
        border-radius: 5px;
        display: flex;
        align-items: center;
        @media (max-width: 380px){
            min-width: 232px;
        }
    }
}




.testData {
    position: absolute;
    top: 53%;
    left: 45%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @media (max-width: 380px){
        top: 48.8%;
     }
}

.testDataTitle {
   font-weight: 700;
   margin-bottom: 7px;
}

.TestDataEmailBody {
    display: flex;
    align-items: center;
    column-gap: 5px;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    @media (max-width: 380px){
       flex-direction: column;
       align-items: flex-start;
       row-gap: 2px;
    }
}
.TestDataEmaiTitle {
    font-weight: bold;
}
.TestDataEmai {}

.TestDataPasswordBody {
    display: flex;
    align-items: center;
    column-gap: 5px;
   
}
.TestDataPasswordTitle {
    font-weight: bold;
}
.TestDataPassword {}

.someFormError {
    color: red;
    transform: translate(0, -5px);
}