.news {
    font-size: 24px;
    color: RGB(117, 159, 167);
    margin-bottom: 100px;
}

.body {
    display: grid;
    row-gap: 20px;
    margin-bottom: 50px;
}

.area {
    min-height: 80px;
    background-color: RGB(240, 242, 245);
    padding: 10px;
  }
  
  .button {
    align-self: flex-end;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: #485ab2;
    padding: 0 40px;
    transition: all 0.3s ease 0s;
  
    @media (min-width: 992px){
        &:hover {
          background-color: #2a3988;
        }
    }
  }