
.dialogs {
    padding: 20px 0px 25px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 170px) minmax(auto, 800px);
    column-gap: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 100%;
}

.dialogsItems {
    display: grid;
    row-gap: 30px;
    border-right: 1px solid rgba(195, 183, 183, 0.521);
}


.dialog {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon {
    overflow: hidden;
    flex: 0 0 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;

    img {
        max-width: 100%;
    }
}

.name {
    font-weight: 600;
    color: #6C757D;
}




.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    &:not(:last-child) {
    margin-bottom: 140px;
    }
}

.message {
    background-color: #EFF2F6;
    border-radius: 25px;
    padding: 5px 10px;
}


.body {
    &:not(:last-child) {
        margin-bottom: 20px;
        }
}

.areaBody {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.area {
    min-height: 70px;
    background-color: RGB(240, 242, 245);
    padding: 10px;
    resize: none;
    border-radius: 10px;
    min-width: 300px;

}


.button {
    background-color: #0E6EFB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    border-radius: 10px;
   min-width: 100px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #0051ca;
        }
      }
}