.message {
    display: flex;
}

.messageOvner {
    justify-content: flex-end;
}

.info {
    min-width: 170px;
    max-width: 300px;
    @media (max-width: 600px){
        min-width: 100px;
        max-width: 210px;
    }
}

 .infoOvner {
     border-radius: 15px;
     max-width: 300px;
     min-width: 170px;
     flex: 0 0 auto;
    
     @media (max-width: 600px){
         max-width: 210px;
     }
 }


.body {
    padding-left: 5px;
    display: flex;
    column-gap: 20px;
}

.bodyOvner {
    justify-content: flex-end;
    padding-right: 5px;
    &:not(:last-child) {
    margin-bottom: 10px;
    }
}


.name {
    font-size: 14px;
    font-weight: 600;
    &:not(:last-child) {
    margin-bottom: 10px;
    }
}

.nameOvner {
    display: none;
}

.addedAt {

}





.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #EFF2F6;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    min-height: 70px;
    position: relative;

}

.contentOvner {
    padding-right: 35px;
}


.messageText {
    line-height: 150%;
    text-align: justify;
    word-break: break-word;
    align-self: flex-start;
}


.contentBody{

}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate3d(0, 0, 0); /* Початково не змінює позицію */
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            opacity: 1;
        }
    }

}

.menu > * { 
    position: absolute;
    top: 3px;
    right: 3px;
    transform: translate3d(0, 0, 0); /* Фіксуємо на місці */
}

.mark {
    align-self: flex-end; 
    display: none;
}


.markOvner {
    display: none;
}