.settings {
    padding: 30px 15px 25px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-height: 100%;
    max-width: 100%;
}

.lable {
    padding-left: 3px;
    font-size: 18px;
    &:not(:last-child) {
    margin-bottom: 7px;
    }
}

.key {
    &:not(:last-child) {
    margin-bottom: 25px;
    }
}


.title {
    font-weight: bold;
    &:not(:last-child) {
    margin-bottom: 10px;
    }
}

.list {
    display: grid;
    row-gap: 15px;
    padding-left: 10px;
}

.item {
    
    text-align: justify;
    & a {
        color: inherit;
        text-decoration: underline;
    }
}